@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(to right, #054269, #0f5f96, #137DC5, #07619a, #054269);
  background-size: 200% 100%;
  animation: moveGradient 15s ease infinite;
}

@keyframes pulse-glow {
  0%, 100% {
    box-shadow: 0 0 0 rgba(33, 153, 234, 0);
  }
  50% {
    box-shadow: 0 0 15px rgba(33, 153, 234, 0.8);
  }
}

.animate-pulse-glow {
  animation: pulse-glow 2s ease-in-out infinite;
} 